In [61]:
import pandas as pd

In [62]:
url = r"D:\Desktop\ML\UCI datasets\heart.csv"
df = pd.read_csv(url)

In [63]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [65]:
# all non null, checking for distribution now

df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [66]:
import numpy as np
continous_features = ['age','trestbps','chol','thalach','oldpeak']  
def outliers(df_out, drop = False):
    for each_feature in df_out.columns:
        feature_data = df_out[each_feature]
        Q1 = np.percentile(feature_data, 25.) # 25th percentile of the data of the given feature
        Q3 = np.percentile(feature_data, 75.) # 75th percentile of the data of the given feature
        IQR = Q3-Q1 #Interquartile Range
        outlier_step = IQR * 1.5 #That's we were talking about above
        outliers = feature_data[~((feature_data >= Q1 - outlier_step) & (feature_data <= Q3 + outlier_step))].index.tolist()  
        if not drop:
            print('For the feature {}, No of Outliers is {}'.format(each_feature, len(outliers)))
        if drop:
            df.drop(outliers, inplace = True, errors = 'ignore')
            print('Outliers from {} feature removed'.format(each_feature))

outliers(df[continous_features], drop = True)

Outliers from age feature removed
Outliers from trestbps feature removed
Outliers from chol feature removed
Outliers from thalach feature removed
Outliers from oldpeak feature removed

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       284 non-null    int64
 1   sex       284 non-null    int64
 2   cp        284 non-null    int64
 3   trestbps  284 non-null    int64
 4   chol      284 non-null    int64
 5   fbs       284 non-null    int64
 6   restecg   284 non-null    int64
 7   thalach   284 non-null    int64
 8   exang     284 non-null    int64
 9   oldpeak   284 non-null    float64
 10  slope     284 non-null    int64
 11  ca        284 non-null    int64
 12  thal      284 non-null    int64
 13  target    284 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [68]:
for col in df:
    print(col + ": " + str(df[col].nunique()))

age: 41
sex: 2
cp: 4
trestbps: 42
chol: 143
fbs: 2
restecg: 3
thalach: 88
exang: 2
oldpeak: 36
slope: 3
ca: 5
thal: 4
target: 2

In [86]:
# EXPERIMENTAL. CODE BLOCK NOT EXCECUTED FOR THE RESULTS BELOW.
# based on this, I think we should normalize these - 

normalize_cols = ['trestbps', 'chol', 'thalach', 'oldpeak']

def normalize(col):
    min = df[col].min()
    max = df[col].max()
    range = max - min
    mean = df[col].mean()
    df[col] = (df[col] - mean) / (range)
    return df[col]

# for col in normalize_cols:
#     df[col] = normalize(col)

In [69]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [70]:
# now, we train
X = df.drop('target', axis = 1)
y = df['target']

In [71]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 1)

In [72]:
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score
ppn = Perceptron(max_iter = 1500, eta0 = 0.1, random_state = 1)
ppn.fit(X_train, y_train)
y_pred = ppn.predict(X_test)
print("Accuracy score: " + str(accuracy_score(y_test, y_pred)))

Accuracy score: 0.5851063829787234

In [73]:
# not a good score. A quick search tells me I should employ
# Logistic Regression. --> best for this dataset
# k-Nearest Neighbors.
# Decision Trees.
# Support Vector Machine.
# Naive Bayes.
# for binary classification

In [74]:
from sklearn.linear_model import LogisticRegression

log = LogisticRegression()

log.fit(X_train, y_train)

Prediction = log.predict(X_test)

print("Accuracy score: " + str(accuracy_score(y_test, Prediction)))

Accuracy score: 0.851063829787234

C:\Users\agent\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [75]:

from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 1)

knn.fit(X_train, y_train)

y_pred = knn.predict(X_test)

print("Accuracy score: " + str(accuracy_score(y_test, y_pred)))

Accuracy score: 0.6063829787234043

In [76]:
from sklearn.ensemble import RandomForestClassifier

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, y_train)
y_pred = random_forest.predict(X_test)

print("Accuracy score: " + str(accuracy_score(y_test, y_pred)))

Accuracy score: 0.8404255319148937

In [77]:
from sklearn.svm import SVC

svc = SVC()

svc.fit(X_train, y_train)

y_pred = svc.predict(X_test)

print("Accuracy score: " + str(accuracy_score(y_test, y_pred)))

Accuracy score: 0.6382978723404256

In [78]:
from sklearn.naive_bayes import GaussianNB
gaussian = GaussianNB()

gaussian.fit(X_train, y_train)

y_pred = gaussian.predict(X_test)

print("Accuracy score: " + str(accuracy_score(y_test, y_pred)))

Accuracy score: 0.7978723404255319

In [79]:
# a couple of things learnt so far:
# removing outliers helps a lot. before removing outliers, my best model had 0.79 accuracy.
# Some models work better with normalized features.
# Logistic regression, svm, random forest worked better with un-normalized data
# rest worked better with normalized data
# also I learnt how to plot a histogram, so next model I code will have that as well